<div class="leftside-menu menuitem-active pt-1" style="width: 260px; background:#313a46;">
  <a href="/" class="d-flex justify-content-center mt-2 mb-1">
    <span class="fs-3 mb-2 text-white">Property HUB</span>
  </a>
  <ul class="side-nav">
    <li class="side-nav-title side-nav-item">Navigation</li>
    <li class="side-nav-item">
      <a href="{% url 'dashboard_view' %}" class="side-nav-link">
        <i class="uil-home-alt"></i>
        <span> Dashboards </span>
      </a>
    </li>
    <li class="side-nav-title side-nav-item">Apps</li>
  </ul>
</div>
