<div class="leftside-menu menuitem-active pt-1" style="width: 260px; background:#313a46;">
  <a href="/" class="d-flex justify-content-center mt-2 mb-1">
    <span class="fs-3 mb-2 text-white">Property HUB</span>
  </a>

  <ul class="side-nav">
    <li class="side-nav-title side-nav-item">Modules</li>
    <li class="side-nav-item">
      <a href="{% url 'dashboard_view' %}" class="side-nav-link">
        <i class="uil-home-alt"></i>
        <span>Dashboards</span>
      </a>
    </li>

    {% if perms.core.view_user %}
      <li class="side-nav-item">
        <a href="{% url 'user_list_view' %}" class="side-nav-link">
          <i class="uil-users-alt"></i>
          <span>Users</span>
        </a>
      </li>
    {% endif %}
    {% if perms.edu.view_plan %}
      <li class="side-nav-item">
        <a href="{% url 'plan_list_view' %}" class="side-nav-link">
          <i class="uil-users-alt"></i>
          <span>Services</span>
        </a>
      </li>
    {% endif %}
    {% if perms.edu.view_subscription %}
      <li class="side-nav-item">
        <a href="{% url 'subscription_list_view' %}" class="side-nav-link">
          <i class="uil-users-alt"></i>
          <span>Subscription Ledger</span>
        </a>
      </li>
    {% endif %}
    {% if request.user.is_superuser %}
      <li class="side-nav-item">
        <a href="{% url 'organization_list_view' %}" class="side-nav-link">
          <i class="uil-store"></i>
          <span>Organizations</span>
        </a>
      </li>
    {% endif %}
    {% if perms.projects.view_product %}
      <li class="side-nav-item">
        <a href="{% url 'product_list_view' %}" class="side-nav-link">
          <i class="uil-shopping-trolley"></i>
          <span>Shop</span>
        </a>
      </li>
    {% endif %}
  </ul>
</div>
