{% extends "common/base.html" %}

{% block title %}
  {% if 'update' in request.path %}
    Update {{ organization.name }}
  {% else %}
    Create Organization
  {% endif %}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center page-title-box">
    <h4 class="page-title">
      {% if organization %}
        Update {{ organization.name }}
      {% else %}
        Create Organization
      {% endif %}
    </h4>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane show active" id="input-types-preview">
              <form action="" method="post" class="d-flex justify-content-between" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-6 px-2 mb-3">
                    <label for="image" class="form-label">Company Brand Image</label>
                    <input type="file" class="form-control" id="image" name="image">
                  </div>

                  <div class="col-lg-6 px-2 mb-3">
                    <label for="name" class="form-label">Name</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                  </div>

                  <div class="col-lg-6 px-2 mb-3">
                    <label for="owner_name" class="form-label">Owner Name</label>
                    {{ form.owner_name }}
                    {{ form.owner_name.errors }}
                  </div>

                  <div class="col-lg-6 px-2 mb-3">
                    <label for="email" class="form-label">Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                  </div>

                  <div class="col-lg-6 px-2 mb-3">
                    <label for="reference_link" class="form-label">About Link</label>
                    {{ form.about_link }}
                    {{ form.about_link.errors }}
                  </div>

                  <div class="col-lg-6 px-2 mb-3">
                    <label for="description" class="form-label">Description</label>
                    {{ form.description }}
                    {{ form.description.errors }}
                  </div>

                  <div class="col-12 text-start pt-3 pb-3">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <input class="btn btn-danger" type="reset">
                    <a href="{% url 'organization_list_view' %}" class="btn btn-secondary">Back</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
