{% extends "common/base.html" %}

{% block title %}
  Subscription Ledger
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <a href="{% url 'subscription_create_view' %}" class="btn btn-primary">
            <i class="fa-solid me-1 fa-plus"></i> Add New
          </a>
        </div>
        <h4 class="page-title">Subscription Ledger</h4>
      </div>
    </div>
  </div>
  {% if object_list %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane show active" id="basic-datatable-preview">
                <div id="basic-datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="list_table" class="table dt-responsive nowrap w-100 dataTable no-footer dtr-inline" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 996px;">
                        <thead class="mx-3">
                          <tr>
                            <th>User</th>
                            <th>Bot</th>
                            <th>Plan Name</th>
                            <th>End Date</th>
                            <th>Offer Price</th>
                            <th>Sold Price</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for subscription in object_list %}
                            <tr class="align-middle">
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="avatar-sm me-1 p-1">
                                    {% if subscription.user.user_image %}
                                      <img src="{{ subscription.user.user_image.url }}" alt="organization-image" class="img-fluid rounded-circle">
                                    {% else %}
                                      <span class="avatar-title rounded-circle bg-soft-primary text-white">
                                        {{ subscription.user.first_name }}|make_list|first }}
                                      </span>
                                    {% endif %}
                                  </div>
                                  <h5 class="font-size-14 my-0">
                                    {{ subscription.user.get_full_name }}
                                  </h5>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="avatar-sm me-1 p-1">
                                    {% if subscription.plan.bot.image %}
                                      <img src="{{ subscription.plan.bot.image.url }}" alt="organization-image" class="img-fluid rounded-circle">
                                    {% else %}
                                      <span class="avatar-title rounded-circle bg-soft-primary text-white">
                                        {{ subscription.plan.bot.name }}|make_list|first }}
                                      </span>
                                    {% endif %}
                                  </div>
                                  <h5 class="font-size-14 my-0">
                                    {{ subscription.plan.bot.name }}
                                  </h5>
                                </div>
                              </td>
                              <td>{{ subscription.plan.name }}</td>
                              <td>{{ subscription.end_date }}</td>
                              <td>{{ subscription.plan.price }}</td>
                              <td>
                                {{ subscription.paid_amount }}
                              </td>
                              <td>
                                {% if perms.edu.view_subscription %}
                                  <a href="{% url 'subscription_detail_view' subscription.id %}" class="text-decoration-none me-1" title="View">
                                    <i class="fa-solid fa-eye"></i>
                                  </a>
                                {% endif %}
                                {% if perms.projects.change_subscription %}
                                  <a href="{% url 'subscription_update_view' subscription.id %}" class="text-decoration-none mx-1" title="Update">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                  </a>
                                {% endif %}
                                {% if perms.projects.delete_subscription %}
                                  <a href="{% url 'subscription_delete_view' subscription.id %}" class="text-decoration-none ms-1 link-danger" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                  </a>
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      {% url 'subscription_list_view' arg arg2 as the_url %}
                      {% include 'common/pagination.html' with url_view=the_url %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="alert alert-danger" role="alert">No Subscription Sold.</div>
  {% endif %}
{% endblock %}
