{% extends "common/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="card widget-flat">
            <div class="card-body">
              <div class="float-end">
                <i class="mdi mdi-account-multiple widget-icon"></i>
              </div>
              <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Plans</h5>
              <h3 class="mt-3 mb-3">{{ total_plans }}</h3>
              <p class="mb-0 text-muted">
                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 5.27%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-cart-plus widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Plots</h5>
            <h3 class="mt-3 mb-3">{{ total_plots }}</h3>
            <p class="mb-0 text-muted">
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-currency-usd widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Blocks</h5>
            <h3 class="mt-3 mb-3">{{ total_blocks }}</h3>
            <p class="mb-0 text-muted">
              <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end">
              <i class="mdi mdi-pulse widget-icon"></i>
            </div>
            <h5 class="text-muted fw-normal mt-0" title="Growth">Sectors</h5>
            <h3 class="mt-3 mb-3">{{ total_sectors }}</h3>
            <p class="mb-0 text-muted">
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
