{% extends "common/base.html" %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-9">
      <div class="row">
        <div class="col-sm-4">
          <div class="card tilebox-one">
              <div class="card-body">
                  <i class="ri-shopping-basket-2-line float-end text-muted"></i>
                  <h6 class="text-muted text-uppercase mt-0">Orders</h6>
                  <h2 class="m-b-20">1,587</h2>
                  <span class="badge bg-primary"> +11% </span> <span class="text-muted">From previous period</span>
              </div> <!-- end card-body-->
          </div> <!--end card-->
        </div>
        <div class="col-sm-4">
          <div class="card tilebox-one">
              <div class="card-body">
                  <i class="ri-shopping-basket-2-line float-end text-muted"></i>
                  <h6 class="text-muted text-uppercase mt-0">Orders</h6>
                  <h2 class="m-b-20">1,587</h2>
                  <span class="badge bg-primary"> +11% </span> <span class="text-muted">From previous period</span>
              </div> <!-- end card-body-->
          </div> <!--end card-->
        </div>
        <div class="col-sm-4">
          <div class="card tilebox-one">
              <div class="card-body">
                  <i class="ri-shopping-basket-2-line float-end text-muted"></i>
                  <h6 class="text-muted text-uppercase mt-0">Orders</h6>
                  <h2 class="m-b-20">1,587</h2>
                  <span class="badge bg-primary"> +11% </span> <span class="text-muted">From previous period</span>
              </div> <!-- end card-body-->
          </div> <!--end card-->
        </div>
      </div>
      <div class="row px-2">
        <div class="card border border-primary bg-primary card-bg-img" style="background-image: url({% static 'images/bg-pattern-dark.png' %});">
          <div class="card-body">
            <h5 class="fs-2 text-white text-center">
              Discover everything bartleby has to offer
            </h5>
            <div class="app-search dropdown mt-4 mb-3">
              <form action="{% url 'chegg_view' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" class="form-control dropdown-toggle" placeholder="Find homework solutions, or practice tests" name="chegg-search" id="chegg-search">
                  <span class="mdi mdi-magnify search-icon"></span>
                  <input type="submit" class="btn btn-success" value="Submit">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="d-flex justify-content-center">
            <div class="col-6">
              <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show mb-0" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Success - </strong> A simple success alert—check it out!
              </div>
            </div>
          </div>
        </div>
        {% if unlock %}
          <div class="p-0">
            <h3>{{ unlock.questionHead|safe }}</h3>
            <div class="card">
              <div class="card-body">
                <div class="px-3 pt-2">
                  {{ unlock.question|safe }}
                </div>
              </div>
            </div>
            <h3>Expert Answer</h3>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="d-flex mt-3">
                    <a class="pe-2" href="#">
                      <img src="{% static 'images/chegg/avatar_unisex.png' %}" class="rounded-circle" alt="Generic placeholder image" height="32">
                    </a>
                    <div class="w-100">
                      <h5 class="my-0">{{ unlock.expert }} answered this</h5>
                      {{ unlock.expertAns }} answers
                    </div>
                  </div>
                </div>
                <div class="p-3 pb-0">
                  {{ unlock.solution|safe }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col-xxl-3">
      {% if subscription.user %}
        <div class="row">
          <div class="col-md-6 col-xxl-12">
            <div class="card border {% if subscription.is_expired == False %}border-primary bg-primary {% else %}border-warning bg-warning{% endif %} card-bg-img" style="background-image: url({% static 'images/bg-pattern.png' %});">
              <div class="card-body">
                <div class="row">
                  <h4 class="text-white">
                    <div class="d-flex align-items-center mt-n1">
                      <div class="avatar-sm me-1 p-1">
                        {% if subscription.user.user_image %}
                          <img src="{{ subscription.user.user_image.url }}" alt="user-image" class="img-fluid rounded-circle">
                        {% else %}
                          <span class="avatar-title rounded-circle bg-soft-primary text-white">
                            {{ subscription.user.user_name }}|make_list|first }}
                          </span>
                        {% endif %}
                      </div>
                      {{ request.user.get_full_name }}
                    </div>
                  </h4>
                </div>

                <div class="row">
                  <div class="col-12 d-flex justify-content-center flex-column align-items-center mt-3">
                    <img src="{{ subscription.plan.bot.image.url }}" alt="image" class="img-fluid avatar-md rounded-circle img-thumbnail">
                    <h5 class="text-center">{{ subscription.plan.bot.name }}
                      {% if subscription.plan.bot.is_verified %}
                        <i class="mdi mdi-check-decagram text-info fs-4"></i>
                      {% endif %}
                    </h5>
                    {% if subscription.plan.bot.is_online %}
                      <span class="badge badge-success-lighten fw-bold d-flex">
                        <div class="spinner-grow spinner-grow-sm text-success py-1 my-1" role="status">
                        </div>
                        <h6 class="p-1 m-0 d-flex align-items-center">Online</h6>
                      </span>
                    {% else %}
                      <span class="badge badge-danger-lighten fw-bold d-flex">
                        <div class="spinner-grow spinner-grow-sm text-danger py-1 my-1" role="status">
                        </div>
                        <h6 class="p-1 m-0 d-flex align-items-center">Offline</h6>
                      </span>
                    {% endif %}
                  </div>
                  <div class="col-12 align-items-center d-flex justify-content-between mt-2">
                    <div class="col-4">
                      <div class="text-white-50 font-16 mb-1">Access</div>
                      {% if subscription.is_expired %}
                        <h5 class="my-0 text-success">
                          <div class="badge bg-success p-1">Licensed</div>
                        </h5>
                      {% else %}
                        <div class="badge bg-danger p-1">Unlicensed</div>
                      {% endif %}
                    </div>
                    <div class="col-4">
                      <div class="text-white-50 font-16 mb-1">Expiration Date</div>
                      <h5 class="text-white my-0 text-end">{{ subscription.end_date }}</h4>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                      <h6>License Period</h6>
                      {% if subscription.is_expired == False %}
                        <h6>Denied</h6>
                      {% else %}
                      <h6>{{ subscription.time_left }} left</h6>
                      {% endif %}
                    </div>
                    <div class="progress" style="height: 5px;">
                      <div class="progress-bar {{ subscription.duration_progress.class }}" role="progressbar" style="width: {{ subscription.duration_progress.progress }}%; height: 20px;" aria-valuenow="{{ subscription.duration_progress.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
        <div class="row">
          <h5>Serving Bots</h5>
          <div class="col-md-6 col-xxl-12">
            {% for bot in bots %}
              <div class="card border border-primary bg-primary card-bg-img mb-2" style="background-image: url({% static 'images/bg-pattern.png' %});">
                <div class="card-body p-2">
                  <div class="row">
                    <h4 class="text-white mb-0">
                      <div class="d-flex align-items-center justify-content-between mt-n1">
                        <div class="d-flex align-items-center">
                          <div class="avatar-md me-1 p-1">
                            <img src="{{ bot.image.url }}" alt="user-image" class="img-fluid rounded-circle img-thumbnail">
                          </div>
                          <div class="d-flex flex-column">
                            <h5 class="mb-0">
                              {{ bot.name }}
                              {% if bot.is_verified %}
                                <i class="mdi mdi-check-decagram text-info fs-4"></i>
                              {% endif %}
                            </h5>
                            {% if bot.is_online %}
                              <span class="fw-bold d-flex">
                                <div class="spinner-grow spinner-grow-sm text-success py-1 my-1" role="status">
                                </div>
                                <h6 class="p-1 m-0 d-flex align-items-center">Online</h6>
                              </span>
                            {% else %}
                              <span class="fw-bold d-flex">
                                <div class="spinner-grow spinner-grow-sm text-danger py-1 my-1" role="status">
                                </div>
                                <h6 class="p-1 m-0 d-flex align-items-center">Offline</h6>
                              </span>
                            {% endif %}
                          </div>
                        </div>
                        <div class="avatar-sm d-table">
                          <span class="avatar-title bg-info rounded-circle text-white">
                              <i class="uil uil-link font-24"></i>
                          </span>
                        </div>
                      </div>
                    </h4>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
    </div> <!-- end col -->
</div>
{% endblock %}
